@model Education.BLL.DTO.Forum.ForumDTO

@{
        ViewData["Title"] = "Education Portal";
    }

<div class="Groups">
    @foreach (var group in Model.Groups)
    {
        <div class="Group">
            <img class="Logo" src="@group.Logo" />
            <div class="Info">
                @if (group.Access.CanRead)
                {
                    <div class="Name"><a href="Group/Index/@group.Id">Группа @group.Name</a></div>
                }
                else
                {
                    <div class="Name">Группа @group.Name</div>
                }
                <div>
                    @(group.Open ? "Открытая группа" : "Закрытая группа")

                    @if (group.Access.CanUpdate)
                    {
                        <strong><a href="/Group/Control/@group.Id">Редактировать</a></strong>
                    }
                </div>
                <div>
                    @if (!group.Open && group.Status != null)
                    {
                        @if (!group.Status.Member)
                        {
                            if (!group.Access.CanRead)
                            {
                                <a href="/Group/Enter/@group.Id"> Подать заявку</a>
                            }
                        }
                        else
                        {
                            <text>Роль: </text>
                            if (group.Status.Status == Education.DAL.Entities.UserGroupStatus.member)
                            {
                                <text>Участник</text>
                            }
                            else if (group.Status.Status == Education.DAL.Entities.UserGroupStatus.owner)
                            {
                                <text>Модератор</text>
                            }
                            else if (group.Status.Status == Education.DAL.Entities.UserGroupStatus.request)
                            {
                                <text>Отправлена заявка</text>
                            }
                            <a href="/Group/Leave/@group.Id">Покинуть группу</a>
                        }
                    }
                </div>

            </div>
        </div>

    }

    @if (Model.CanCreateGroup)
    {
        <div class="CreateGroup">
            <a href="/Group/Control">Создать группу</a>
        </div>
    }

</div>