<div class="Description">
    <div class="Name">
        Админ панель
    </div>
</div>
<div class="AdminMenu">
    @Html.ActionLink("Конфигурация", "Config", "Admin")
    @Html.ActionLink("Пользователи", "Users", "Admin")
    @Html.ActionLink("Страницы", "All", "Page")
</div>