@model Education.BLL.DTO.Forum.MessageDTO


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="MessageEdit">
    <div class="Info">
        @Model.Owner.Name - @Model.Time
    </div>
    <form method="post" action="/Message/Update"> 
        <input type="hidden" name="id" value="@Model.Id" />
        <textarea name="text">@Model.Text</textarea>
        <input type="submit" value="Сохранить" />
    </form>
</div>