@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка сервера</title>
</head>
<body>
    <h1>@Model</h1>
    <a href="/"><h2>Вернутся на главную страницу</h2></a>
</body>
</html>
