@model Education.BLL.DTO.Pages.PagesDTO


<div class="Description">
    <div class="Name">
        @Html.ActionLink("Меню","Index","Home")
    </div>
    <div class="Edit">
        @if (Model.CanCreate)
        {
            @Html.ActionLink("Добавить страницу","Control","Page")
        }
    </div>
</div>